In [1]:
%load_ext autoreload
%autoreload 2

# Import Libraries

In [2]:
import os

import pandas as pd
from catboost import Pool, CatBoostClassifier

# Read Data

In [4]:
path = "../../"
train_data = pd.read_csv(os.path.join(path, "train.csv"))
test_data = pd.read_csv(os.path.join(path, "test.csv"))
print(f"Number of rows and columns in the train data set: {train_data.shape}")
print(f"Number of rows and columns in the test data set: {test_data.shape}")
train_data.head()

Number of rows and columns in the train data set: (48665, 2)
Number of rows and columns in the test data set: (12167, 2)

   rate                                               text
0     4  Очень понравилось. Были в начале марта  с соба...
1     5  В целом магазин устраивает.\nАссортимент позво...
2     5  Очень хорошо что открылась 5 ка, теперь не над...
3     3  Пятёрочка громко объявила о том как она заботи...
4     3  Тесно, вечная сутолока, между рядами трудно ра...

In [5]:
train_data.groupby("rate").describe()

       text
      count unique                top freq
rate
1      4138   4130             Грязно    3
2      2410   2407  Отстойный магазин    2
3      6126   6070          Нормально    7
4      9922   9763               Норм   14
5     26069  24804    Хороший магазин  107

# Preparing the data and creating Catboost model

In [6]:
X_train = train_data["text"]
y_train = train_data["rate"]

X_test = test_data["text"]


model = CatBoostClassifier(
    iterations=100,
    depth=5,
    random_seed=42
)

model.fit(
    X_train,
    y_train,
    text_features=[0],
    verbose=True
)

Learning rate set to 0.5
0:	learn: 1.1143203	total: 1.27s	remaining: 2m 6s
1:	learn: 1.0216381	total: 1.94s	remaining: 1m 35s
2:	learn: 0.9782772	total: 2.76s	remaining: 1m 29s
3:	learn: 0.9551523	total: 3.55s	remaining: 1m 25s
4:	learn: 0.9461749	total: 4.43s	remaining: 1m 24s
5:	learn: 0.9399748	total: 5.2s	remaining: 1m 21s
6:	learn: 0.9328492	total: 6.19s	remaining: 1m 22s
7:	learn: 0.9318007	total: 6.79s	remaining: 1m 18s
8:	learn: 0.9284937	total: 7.53s	remaining: 1m 16s
9:	learn: 0.9266864	total: 8.52s	remaining: 1m 16s
10:	learn: 0.9243191	total: 9.13s	remaining: 1m 13s
11:	learn: 0.9220050	total: 9.99s	remaining: 1m 13s
12:	learn: 0.9202830	total: 10.7s	remaining: 1m 11s
13:	learn: 0.9175563	total: 11.6s	remaining: 1m 10s
14:	learn: 0.9170312	total: 12.2s	remaining: 1m 9s
15:	learn: 0.9159688	total: 13.1s	remaining: 1m 8s
16:	learn: 0.9153561	total: 13.8s	remaining: 1m 7s
17:	learn: 0.9149921	total: 14.5s	remaining: 1m 6s
18:	learn: 0.9143516	total: 15.3s	remaining: 1m 5s
19:	learn: 0.9133565	total: 16s	remaining: 1m 4s
20:	learn: 0.9122966	total: 16.7s	remaining: 1m 2s
21:	learn: 0.9096747	total: 17.6s	remaining: 1m 2s
22:	learn: 0.9083202	total: 18.3s	remaining: 1m 1s
23:	learn: 0.9067834	total: 19.1s	remaining: 1m
24:	learn: 0.9055917	total: 19.7s	remaining: 59.2s
25:	learn: 0.9039273	total: 20.4s	remaining: 58.1s
26:	learn: 0.9031018	total: 21.2s	remaining: 57.2s
27:	learn: 0.9023868	total: 22s	remaining: 56.5s
28:	learn: 0.9016165	total: 22.6s	remaining: 55.4s
29:	learn: 0.9007961	total: 23.3s	remaining: 54.3s
30:	learn: 0.8995611	total: 24.2s	remaining: 53.9s
31:	learn: 0.8985875	total: 25.2s	remaining: 53.5s
32:	learn: 0.8980245	total: 26.1s	remaining: 52.9s
33:	learn: 0.8966944	total: 26.9s	remaining: 52.3s
34:	learn: 0.8956984	total: 27.9s	remaining: 51.7s
35:	learn: 0.8947619	total: 28.6s	remaining: 50.8s
36:	learn: 0.8936061	total: 29.2s	remaining: 49.6s
37:	learn: 0.8929539	total: 29.8s	remaining: 48.6s
38:	learn: 0.8920603	total: 30.4s	remaining: 47.6s
39:	learn: 0.8915880	total: 31.1s	remaining: 46.6s
40:	learn: 0.8904964	total: 31.8s	remaining: 45.7s
41:	learn: 0.8897218	total: 32.5s	remaining: 44.8s
42:	learn: 0.8891535	total: 33.2s	remaining: 44s
43:	learn: 0.8886127	total: 33.9s	remaining: 43.1s
44:	learn: 0.8877928	total: 34.5s	remaining: 42.2s
45:	learn: 0.8870021	total: 35.3s	remaining: 41.4s
46:	learn: 0.8862540	total: 36s	remaining: 40.6s
47:	learn: 0.8857442	total: 36.6s	remaining: 39.7s
48:	learn: 0.8850736	total: 37.2s	remaining: 38.7s
49:	learn: 0.8844954	total: 37.9s	remaining: 37.9s
50:	learn: 0.8841172	total: 38.5s	remaining: 37s
51:	learn: 0.8836050	total: 39.1s	remaining: 36.1s
52:	learn: 0.8827140	total: 39.8s	remaining: 35.3s
53:	learn: 0.8822891	total: 40.4s	remaining: 34.4s
54:	learn: 0.8811928	total: 41.2s	remaining: 33.7s
55:	learn: 0.8805618	total: 41.9s	remaining: 32.9s
56:	learn: 0.8802087	total: 42.6s	remaining: 32.1s
57:	learn: 0.8794074	total: 43.3s	remaining: 31.4s
58:	learn: 0.8790279	total: 44s	remaining: 30.6s
59:	learn: 0.8784447	total: 44.8s	remaining: 29.9s
60:	learn: 0.8777982	total: 45.5s	remaining: 29.1s
61:	learn: 0.8772311	total: 46.3s	remaining: 28.4s
62:	learn: 0.8761242	total: 47.1s	remaining: 27.7s
63:	learn: 0.8756773	total: 47.7s	remaining: 26.8s
64:	learn: 0.8752741	total: 48.3s	remaining: 26s
65:	learn: 0.8748606	total: 49.1s	remaining: 25.3s
66:	learn: 0.8736407	total: 49.8s	remaining: 24.5s
67:	learn: 0.8731283	total: 50.5s	remaining: 23.8s
68:	learn: 0.8724935	total: 51.3s	remaining: 23.1s
69:	learn: 0.8721062	total: 51.8s	remaining: 22.2s
70:	learn: 0.8716293	total: 52.5s	remaining: 21.4s
71:	learn: 0.8712077	total: 53.2s	remaining: 20.7s
72:	learn: 0.8706781	total: 53.9s	remaining: 19.9s
73:	learn: 0.8701251	total: 54.6s	remaining: 19.2s
74:	learn: 0.8696071	total: 55.3s	remaining: 18.4s
75:	learn: 0.8690125	total: 56s	remaining: 17.7s
76:	learn: 0.8686918	total: 56.6s	remaining: 16.9s
77:	learn: 0.8681286	total: 57.2s	remaining: 16.1s
78:	learn: 0.8676134	total: 57.9s	remaining: 15.4s
79:	learn: 0.8671242	total: 58.5s	remaining: 14.6s
80:	learn: 0.8666014	total: 59.4s	remaining: 13.9s
81:	learn: 0.8661520	total: 1m	remaining: 13.2s
82:	learn: 0.8658707	total: 1m	remaining: 12.5s
83:	learn: 0.8654679	total: 1m 1s	remaining: 11.7s
84:	learn: 0.8650071	total: 1m 2s	remaining: 11s
85:	learn: 0.8645982	total: 1m 2s	remaining: 10.3s
86:	learn: 0.8643543	total: 1m 3s	remaining: 9.51s
87:	learn: 0.8640290	total: 1m 4s	remaining: 8.76s
88:	learn: 0.8631446	total: 1m 4s	remaining: 8.02s
89:	learn: 0.8626519	total: 1m 5s	remaining: 7.29s
90:	learn: 0.8622416	total: 1m 6s	remaining: 6.55s
91:	learn: 0.8620278	total: 1m 7s	remaining: 5.83s
92:	learn: 0.8613686	total: 1m 7s	remaining: 5.1s
93:	learn: 0.8609594	total: 1m 8s	remaining: 4.36s
94:	learn: 0.8604077	total: 1m 9s	remaining: 3.63s
95:	learn: 0.8598873	total: 1m 9s	remaining: 2.9s
96:	learn: 0.8594909	total: 1m 10s	remaining: 2.18s
97:	learn: 0.8592026	total: 1m 10s	remaining: 1.45s
98:	learn: 0.8587850	total: 1m 11s	remaining: 724ms
99:	learn: 0.8583365	total: 1m 12s	remaining: 0us

# Predict

In [8]:
# Preparing data in Pool format
dataset_test = Pool(
    data=X_test,
    text_features=[0]
)
predict_classes = model.predict(dataset_test)
predictions = predict_classes

# Create submission

In [12]:
sample_submission = pd.read_csv(os.path.join(path, "sample_submission.csv"))
sample_submission["rate"] = predictions
sample_submission.head()

   index  rate
0      0     5
1      1     5
2      2     5
3      3     4
4      4     5

In [13]:
sample_submission.to_csv("submission.csv", index=False)

In [15]:
samp = pd.read_csv("submission.csv")

In [16]:
samp

       index  rate
0          0     5
1          1     5
2          2     5
3          3     4
4          4     5
...      ...   ...
12162  12162     5
12163  12163     5
12164  12164     5
12165  12165     5
12166  12166     4

[12167 rows x 2 columns]

In [17]:
sample = pd.read_csv(os.path.join(path, "sample_submission.csv"))
sample

       index  rate
0          0     1
1          1     1
2          2     1
3          3     1
4          4     1
...      ...   ...
12162  12162     1
12163  12163     1
12164  12164     1
12165  12165     1
12166  12166     1

[12167 rows x 2 columns]